*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  background: url("https://wallpaper.dog/large/822505.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clock-container {
  background: transparent;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border: 2px solid rgba(255,255,255,.7);
  box-shadow: 0 0 40px white;
  border-radius: 20px;
  padding: 4px 32px;
}

.clock {
  font-family: "Arial","Droid Sans Mono", "monospace";
  font-size: 6rem;
  color: white;
  text-shadow: 0 0 6px rgba(255,255,255,.5);
  text-align: center;
}

